<div class="col-md-7">
  <table class="table table-bordered table-hover">
    <thead class="bg-dark" id="tabla-cabezera">
      <tr>
        <th>
          id
        </th>
        <th>
          Nombre
        </th>
        <th>
          Direccion
        </th>
        <th>
          Telefono
        </th>
        <th>
          Accion
        </th>
      </tr>
    </thead>
    <tbody>
      <% if(data){ %> <% for(var i = 0; i < data.length;i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= data[i].nombre %></td>
        <td><%= data[i].direccion %></td>
        <td><%= data[i].telefono %></td>
        <td>
          <a href="/delete/<%= data[i].id %> "
            ><img
              height="50"
              width="50"
              src="https://cdn.icon-icons.com/icons2/692/PNG/128/seo-social-web-network-internet_262_icon-icons.com_61518.png"
          /></a>
          <br />
          <br />
          <a href="/editar/<%= data[i].id %> "
            ><img
              height="50"
              width="50"
              src="https://cdn.icon-icons.com/icons2/620/PNG/128/pencil-striped-symbol-for-interface-edit-buttons_icon-icons.com_56782.png"
            />
          </a>
        </td>
      </tr>
      <% } %> <% } else { %>
      <h1>No hay datos</h1>
      <% } %>
    </tbody>
  </table>
</div>
